@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        .center-block{
      width: 90%;
      margin: auto;
    }
    .poster2 {
      float:left;
      border-style: solid;
      border-color: #5E8FFF;
      border-width: 2px;
      border-radius: 2%;
      width: 350px;
      height: 700px;
      margin:1px 1px 16px;
       padding:10px;
      background-color: white;
      text-align: justify;
      object-fit: cover;
    }
    .poster3 {
      float: right;
      text-align: justify;
      border-style: solid;
      border-color: #5E8FFF;
      border-width: 2px;
      border-radius: 2%;
      width: 350px;
      height: 700px;
      margin-right:13px;
      padding:10px;
      object-fit: cover;
    }
    .cinema{
      display: none;
    }
    .cinemascope1{
      display:none;
    }
    .cinemascope2{
      display:none;
    }
    .cinemascope3{
      display:none;
    }
    .cinemascope{
      display: none;
    }
    #slika1{
      width: 350px;
    }
    .section-one {
        margin-left: 0px;
        margin-right: 0px;
    }
    .poster {
    border-style: solid;
    border-color: #FFB057;
    border-width: 1px;
    width: 350px;
    margin: 0px 13px 16px;
    padding: 10px;
}
}
@media only screen and (min-width: 768px){
  #slika1{
    width: 50%;
  }
  .poster2{
    width:500px;
  }
  .poster3{
    width:500px;
  }
  /*--- Style for movie posters --*/
.poster {
  border-style: solid;
  border-color: #FFB057;
  border-width: 1px;
  width: 350px;
  margin:10px; padding:10px;
}
/*--- Style for News Arhive  --*/

.poster3 {
float: right;
text-align: justify;
border-style: solid;
border-color: #5E8FFF;
border-width: 2px;
border-radius: 2%;
height: 750px;
object-fit: cover;
margin:10px;
padding:10px;
}
/*--- Style for Latest news --*/
.poster2 {
float: left;
border-style: solid;
border-color: #5E8FFF;
border-width: 2px;
border-radius: 2%;
  height: 750px;
margin:10px; padding:10px;
background-color: white;
text-align: justify;
object-fit: cover;
}
.move {
    margin-right: 24px;
    margin-left: 0px;
}
}

html, body{
height:100%;
width:100%;
background-color: black;
}
.navbar{
  padding:1%, 0;
  font-family: Broadway;
  font-size: 25px;
  text-align: center;
  background-color: black;
  border: none;
}
.navbar-nav{
  float:none;
  text-align: center;
}
.navbar-nav li{
  display: inline-block;
  float: none;
}
.dropdown-menu{
  background-color: black;
color: #FFB057;
}
.Landing-text{
  margin-top: 100px;
  margin-bottom: 100px;
}
  /*--- Style for footer distance  --*/
.distance{
  margin-top: 200px;

}
.padding{
  margin-left: 15px, 15px, 15px, 15px;
}

h1{
  font-family: Broadway;
  margin-bottom: 0px;
}
h2{
  font-family: Edwardian Script ITC;
  font-size: 60px;
  text-align: center;
  color: black;
  text-shadow: 2px 2px #A0A0A0;
}
h3{
  margin-top: 0px;
}
h4{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;

}
h5{
text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}
/*--- Style for  img in movie posters --*/
.img-responsive {
    margin: auto;
    width: 300px;
    height: 400px;
}

  /*--- Style for Latest news --*/
.poster2 {
float: left;
  border-style: solid;
  border-color: #5E8FFF;
  border-width: 2px;
  border-radius: 2%;
    height: 750px;
  margin:10px; padding:10px;
  background-color: white;
  text-align: justify;
  object-fit: cover;
}
.color:link{
  color: white;
}
  /*--- Style for h4 Latest news  --*/
.special{
  color: black;
}
  /*--- Style for News Arhive links --*/
.kum {
    padding: 5px;
    width: 70px;
    height: 70px;
}
  .kuma{
    color:white;
  }
  .kuma:hover{
    color: #5E8FFF;
      }
        /*--- Style for Latest news img --*/
  .center-block{
    width:100%;
    padding-top: 40px;
      }
    /*--- Style for Our Location p tag  --*/
  .color{
    color: #FFB057;
  }
    /*--- Style for h3 in Partners --*/
  .white{
    color: white;
    }
      /*--- Style for Cinemascope  --*/
    .cinema{
      background-color: white;
      width: 100px;
      height: 100px;
      border-radius: 5%;
      margin-top: 30px;
      margin-bottom: 30px;
        }
        .cinemascope{
          width: 150px;
          height: 700px;
          margin-left: -380px;
        }
        .cinemascope1{
          width: 150px;
          height: 700px;
          margin-right: -420px;
        }
        .cinemascope2{
          width: 150px;
          height: 300px;
          margin-left: -380px;
        }
          .cinemascope3{
          width: 150px;
          height: 300px;
          margin-right: -420px;
        }
          /*--- Style for p tag in movie posters   --*/

.white{
  color:white;
}
  /*--- Style for Picture in About Festival --*/
#slika1{
				height: 300px;
		border:2px solid #fff;
      box-shadow: 10px 10px 5px #ccc;
  		border-radius:25px;
}
  /*--- Style for Registration Form --*/
.section-all{
  background-color: white;
  border-radius: 5%;
  border:2px solid;
  border-color: #FF3DFC;
    padding-top: 20px;
  padding-bottom: 20px;
    }
    /*--- Style for About Festival --*/

    .section-one{
      background-color: white;
      border-radius: 3%;
      border:2px solid;
      border-color: #5E8FFF;
      padding-top: 20px;
    padding-bottom: 20px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
        }
        /*--- Style for h1 Brooklyn bridge Outdoor Festival --*/
        .color-blue{
        color: #5E8FFF;
        }
        /*--- Style for nav buttons --*/
  #about{
  color: #5E8FFF;
}
#Program,#Location{
  color: #FFB057;
}
#Registration,#Partners{
  color: #FF3DFC
}
#News{
  color: #5E8FFF;
}
#finish{
  color: white;
  font-size: 30px;
  margin-bottom: -30px;
}
span{
  font-size: 20px;
  color: #FF3DFC;
}
p {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 16px;
    }
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgb(100, 69, 34);
  width: 50%;
  }﻿
  .container-fluid{
    background-color: white;
    width: 100%;

  }
  .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
#social-fb{
  color: #5E8FFF;
}
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw{
   color: #FFB057;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: white;
 }
 #social-gp{
   color:#FF3DFC;
 }
 #social-em:hover {
     color: white;
 }
 .fa-3x {
    font-size: 6em;
    margin-top: 70px;
    margin-bottom: 30px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}







/*--- iOS Landing Page Fix
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background-image: url('img/mountains.jpeg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
--*/

/*--- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--*/
